body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 90%;
    margin:auto
}
.d-flex{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.main{
    padding-top: 2rem;
    flex-wrap: wrap;
}
.content{
    font-weight: bold;
    font-size: larger
}
.icon-container{
    direction: rtl !important;
}
.icon{
    color:red;
    padding: .5rem;
}
.icon-2{
    color:gray;
    padding: .5rem;
}
.text-area{
    width: 300px;
}
.card-container{
    flex-basis: 18%;
    height: 85vh;
    overflow:hidden;
    padding: .5rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 3px 0px #d3d1d1;
}


.image-container {
    width: 100%;
    object-fit:cover;
}
/*tablet breakpoint*/
@media (max-width: 992px){
    .card-container{
        flex-basis: 45%;
    }
}
/* mobile brekpoint */
@media (max-width: 768px) {
    .card-container{
        flex-basis: 100%;
    }
}